{% extends "index.html" %}

{% block content %}
    <h1>Hello, World!!!
    {% with msgs = get_flashed_messages(category_filter=["signin"]) %}
    {% if msgs %}
    {{ msgs[-1] }}
    {% endif %}
    {% endwith %}</h1>
    
    <table
        id="table"
        data-toggle="table"
        data-height="460"
        data-ajax="ajaxUserList"
        data-search="true"
        data-side-pagination="server"
        data-pagination="true"
    >
        <thead>
            <tr>
                <th data-field="email">Email</th>
                <th data-field="name">Name</th>
            </tr>
        </thead>
    </table>
    <script>
        // your custom ajax request here
        function ajaxUserList(params) {
            console.log( params );
            
            $.ajax({
                method: "post",
                url: "/graphql",
                headers: {
                    "Content-Type": "application/json",
                },
                data: JSON.stringify({
                    query: `query getUserList($search: String, $offset: Int, $limit: Int){
                        userList (search: $search, offset: $offset, limit: $limit){
                            email
                            name
                        }
                    }`,
                    variables: params.data
                }),
                success: function(resp){
                    console.log( resp );
                    params.success({
                        rows: resp.data.userList
                    });
                }
            });
            /*
            var data = gql({
                data: {
                    query: `{
                        userList {
                            email
                            name
                        }
                    }`
                }
            }).then(function(resp){
                console.log( resp );
                params.success({
                    "rows": resp.data.userList,
                    "total": resp.data.userList.length
                },null,{});
            });
            */
        }
    </script>
{% endblock %}